# Ignorar arquivos de documentos gerados/convertidos
*.pdf
*.txt
*.docx

# Ignorar arquivos temporários e de cache do Python
__pycache__/
*.pyc
*.pyd
*.so

# Ignorar ambientes virtuais
venv/
.venv/


# Ignorar arquivos específicos do ambiente
.DS_Store
.env

# Ignorar o próprio .gitignore se for copiado para outro lugar
.gitignore

# Ignorar o arquivo todo.md
todo.md
